# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.expo/
ios/
android/

# Moon
.moon/cache/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Documents
implementation.md
flowchart.md
safeher.md
# backend.md
