# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=your_url
SUPABASE_ANON_KEY=your_url_juga
SUPABASE_SERVICE_ROLE_KEY=also_your_url

# OpenRouter
OPENROUTER_API_KEY=your-openrouter-api-key
OPENROUTER_MODEL=google/gemini-3-flash-preview

# Firebase Cloud Messaging
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
